.labOculto{
    position: absolute;
    left: -10000;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#formCompra{
    color: black;
}

.t2{
    color: black;
}

.t3{
    font-weight: bold;
    color: black;
}

#info_en{
    font-size: medium;
}
p{
<<<<<<< HEAD
    text-align: left;
=======
    text-align: right;
>>>>>>> d4e64e0f5148a325c0cf263e0bd8c3281fe13e64
}