.labOculto{
    position: absolute;
    left: -10000;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#formCompra{
    color: black;
}

.t2{
    color: black;
}

.t3{
    font-weight: bold;
    color: black;
}

#info_en{
    font-size: medium;
}
p{
    text-align: left;
}
div#garantias{
	  text-align: left;
	}	

